<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .oi{background-color: rgb(244, 201, 208); border-style: solid 3px; border-width: 3px;box-shadow: 0 8px 10px black;border-radius: 20px;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}
    </style>
</head>
<body>
    <div class="table justify-content-center">
        <table class="oi" style="text-align: center; width:500px;">
            <tr id="header" ><th id="ui">First Name</th> <th id="ui">Last Name</th><th id="ui">Full </th></tr>
            {% for person in users %}
            <tr><td>{{person[first_name]}}</td><td>{{person[last_name]}}</td> <td>{{person[first_name]+' '+person[last_name]}}</td>
            </tr>
            {% endfor %}
            </table></div>
</body>
</html>